<style>
    .popover{
        max-width: 350px;;
    }            
  </style>
<div class="card bg-body">
    <div class="card-body py-4">
        <style>
            .blink_me {
            animation: blinker 1s linear infinite;
            }

            @keyframes blinker {
            50% {
                opacity: 0;
            }
            }            
        </style>
        <ul class="list-group list-group-flush bg-body mb-0" id="api-evangelist-service-list">            

            <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
                <span class="text-body-secondary"><strong>API Evangelist Services</strong>
                <div onclick="location.href='https://services.apievangelist.com/'" style="cursor:pointer; position:relative; margin-left: 3px; top: 3px;" class="material-symbols-outlined fs-5 text-emphasis" data-bs-placement="right" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-title="API Evangelist Partners" data-bs-content="These are the services being offered by API Evangelist to support enterprise API operations. Click on the icon to learn more about API Evangelist services.">info</div>                 
                </span>
            </li>
            {% assign counter = 1 %}        
            {% for service in site.data['services-api-evangelist'] | limit: 2 %}  
                <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
                    <a href="{{ service.url }}" target="_blank" id="api-evangelist-service-{{ counter }}">{{ service.title }}</a>
                </li>
                {% assign counter = counter | plus: 1 %}   
            {% endfor %}  
        </ul>

        <script>

            function callService(){

                console.log("Calling API Evangelist Service!");

                const options = {
                    method: 'get'      
                };

                var service_url = 'https://apievangelist.com/services/api-evangelist/index.json';
                fetch(service_url, options)
                .then(function (response) {
                    if (!response.ok) {
                        console.log("Houston: " + response.status);
                    }
                    response.json().then(function (response) {
                    
                        var services = '';

                        services += '<li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">';
                        services += '<span class="text-body-secondary"><strong>API Evangelist Services</strong><div onclick="location.href=' + "'" + 'https://services.apievangelist.com/' + "'" + '" style="cursor:pointer; position:relative; margin-left: 3px; top: 3px;" class="material-symbols-outlined fs-5 text-emphasis" data-bs-placement="right" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-title="API Evangelist Partners" data-bs-content="These are the services being offered by API Evangelist to support enterprise API operations. Click on the icon to learn more about API Evangelist services.">info</div></span>';
                        services += '</li>';

                        var random_service_one = response[Math.floor(Math.random() * response.length)];   
                        services += '<li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">';
                        services += '<a href="' + random_service_one.url + '" target="_blank" id="api-evangelist-service-1"> ' + random_service_one.title + '</a>';
                        services += '</li>';

                        var random_service_two = response[Math.floor(Math.random() * response.length)]; 
                        
                        if(random_service_one.title == random_service_two.title){
                            var random_service_two = response[Math.floor(Math.random() * response.length)]; 
                        }
                        services += '<li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">';
                        services += '<a href="' + random_service_two.url + '" target="_blank" id="api-evangelist-service-2">' + random_service_two.title + '</a>';
                        services += '</li>';     
                        
                        document.getElementById("api-evangelist-service-list").innerHTML = services;
                        console.log("Done!");
                        setTimeout(function() { rotateService(); }, 10000);  


                    });
                })
                .catch(function (err) {
                    console.log('Error: ' + err);
                });                    

            }            

            function rotateService(){

                console.log("Rotating API Evangelist Service!");

                document.getElementById("api-evangelist-service-1").className = "blink_me";
                document.getElementById("api-evangelist-service-2").className = "blink_me";

                setTimeout(function() { callService(); }, 4000);                      

            }

            setTimeout(function() { rotateService(); }, 10000);  
        </script>        
    </div>
</div>